version: '3.8'

services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: moneyplay_user
      POSTGRES_PASSWORD: moneyplay_password
      POSTGRES_DB: moneyplay_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
